extends layout

block content
  h1= title
  .container-fluid
    .row
      each item in results
        .col-sm-2
          p Material: #{item.material}
          p Style: #{item.style}
          p Year: #{item.year}
          - let destination = `/sculptures/update?id=${item._id}`
          button.btn(class="btn-primary ml-1", onclick=`dispatch("${destination}")`) Update

  script.
    function dispatch(path){
      window.location.href=path
    }